# Archivos de entorno y logs
.env
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Directorios de dependencias
node_modules/
jspm_packages/

# Carpetas de builds e IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db

# Temporales de compilación
dist/
build/
out/
.next/
.nuxt/
.cache/

# Archivos de sistema / cache de minificación local
.eslintcache
.parcel-cache
.turbo/

# Temporales de desarrollo y pruebas locales
scratch/
.gemini/

# Temporales de producción
api/tmp_chunks/
